---
import "../styles/global.css";
import Analytics from "@vercel/analytics/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Catan RNG</title>
  </head>
  <!-- bg-[url('/catan.jpg')] -->
  <body class="bg-no-repeat bg-full-size">
    <div class="w-full h-screen">
      <div class="flex flex-col h-screen">
        <div class="flex-4"></div>
        <div class="mx-auto flex-3">
          <h1 id="randomNumber" class="text-9xl text-neutral-800">0</h1>
        </div>
        <div class="flex-1 mx-auto">
          <button
            class="btn bg-accent-color text-neutral-800 text-2xl rounded-xl px-8 py-8 border-none"
            onclick="generateRandomNumber()"
          >
            GENERATE
          </button>
        </div>
        <div class="flex-1 mx-auto">
          <button
            id="showHistoryButton"
            class="btn bg-accent-color text-neutral-800 text-lg rounded-xl px-4 py-4 border-none"
            onclick="showHistory()">
            HISTORY
          </button>
        </div>
      </div>
    </div>
    <Analytics />
  </body>

  <style>
    .bg-full-size {
      background-size: 100vw 100vh;
      background-image: url("/catan.jpg");
    }
  </style>

  <script>
    import { generateRandomNumber } from "../generateNumber";

    document.addEventListener("DOMContentLoaded", () => {
      document
        .getElementById("generateBtn")
        ?.addEventListener("click", generateRandomNumber);
    });
  </script>
</html>
